html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body {
    z-index: 100;
}

h1 {
    color: rgb(40, 40, 40);
    padding: 0;
    text-shadow: 1px 2px rgba(0,0,0,0.3);
}

.to-do-logo {
    margin-right: 1rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: lightgray;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-check-to-slot {
   font-size: 2rem;
   color: aquamarine;
}


.content {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.left-content, .right-content {
    padding: 1rem 1rem;
}

h2 {
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    display: flex;
}

.left-content {
    background-color: gray;
    height: 100%;
    width: 20%;
}

.project-list {
    list-style: none;
}

.project-item {
    margin-top: 0.5rem;
}

.right-content {
    background-color: rgb(47, 47, 47);
    width: 100%;
    height: 100%;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: lightgray;
}

.add-task, .add-project {
    margin-left: 1rem;
    color: aquamarine;
    text-shadow: 1px 2px rgba(0,0,0,0.3);
}

.task-list {
    display: grid; 
    max-height: 100%;
    grid-template-columns: repeat(auto-fill, 32%);
    gap: 1rem;
    overflow: scroll;
}

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 0.5rem;
    border-radius: 1rem;
}

.task-top-row {
    display: flex;
    justify-content: space-between;
}

.task-item > * {
    margin: 0.5rem;
}

.task-project {
    font-size: 0.7rem;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: lightgray;
    line-height: 2rem;    
    /* margin-top: 2rem; */
}

.modal-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 4999;
}


.modal-container {
    position: absolute;
    z-index: 5000;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 15rem;
    height: 15rem;
}
